<div class="listing-section row">
  <ng-container *ngFor="let item of productsList">
    <div class="card product-card">
      <figure class="product-icon">
        <img  src="{{ item.thumbnail }}" alt="t-shirt" />
      </figure>
      <section class="details">
        <div class="min-details">
          <h1>
            {{ item.brand }}<span>{{ item.title }}</span><span>{{item.description }}</span>
          </h1>
          <h1 class="price">${{ item.price }}</h1>
        </div>

        <div class="options">
          <div class="options-size">
            <ul>
              <button class="countBtn" (click)="removeItem(item)">-</button>
              <input class="countInput" type="text" disabled value="{{item.count}}">
              <button class="countBtn" (click)="addItem(item)">+</button>
            </ul>
          </div>
        </div>
        <a  class="btn" (click)="addToCart(item)">add to cart</a>
      </section>
    </div>
    <!-- <div class="product-card">
            <div class="badge">Hot</div>
            <div class="product-tumb">
                <img src="{{item.thumbnail}}" alt="">
            </div>
            <div class="product-details">
                <span class="product-catagory">Women,bag</span>
                <h4><a href="">Women leather bag</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
                <div class="product-bottom-details">
                    <div class="product-price"><small>$96.00</small>$230.99</div>
                    <div class="product-links">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- <div class="product col-lg-4">
        <div class="image-box">
          <div class="images" id="image-1">
          <img src="{{item.thumbnail}}"></div>
        </div>
        <div class="text-box">
          <h2 class="item">{{item.title}}</h2>
          <h3 class="price">{{item.price}}</h3>
          <p class="description">{{item.description}}</p>
          <label for="item-1-quantity">Quantity:</label>
          <span>
              <button class="btn btn-primary" (click)="addItem(item)">+</button>
              <input
                type="text"
                #quantity
                name="item-1-quantity"
                id="item-1-quantity"
                value="{{item.count}}"
                
              />
              <button class="btn btn-primary" (click)="removeItem(item)">-</button>
  
          </span>
          <button type="button" name="item-1-button" id="item-1-button" (click)="addToCart(item)">
            Add to Cart
          </button>
        </div>
      </div> -->
  </ng-container>
</div>
