
  

// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
// *
// {
//     -webkit-box-sizing: border-box;
//             box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }


// body
// {
//     font-family: 'Roboto', sans-serif;
// }
// a
// {
//     text-decoration: none;
// }
// .product-card {
//     width: 380px;
//     position: relative;
//     box-shadow: 0 2px 7px #dfdfdf;
//     margin: 50px auto;
//     background: #fafafa;
// }

// .badge {
//     position: absolute;
//     left: 0;
//     top: 20px;
//     text-transform: uppercase;
//     font-size: 13px;
//     font-weight: 700;
//     background: red;
//     color: #fff;
//     padding: 3px 10px;
// }

// .product-tumb {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 300px;
//     padding: 50px;
//     background: #f0f0f0;
// }

// .product-tumb img {
//     max-width: 100%;
//     max-height: 100%;
// }

// .product-details {
//     padding: 30px;
// }

// .product-catagory {
//     display: block;
//     font-size: 12px;
//     font-weight: 700;
//     text-transform: uppercase;
//     color: #ccc;
//     margin-bottom: 18px;
// }

// .product-details h4 a {
//     font-weight: 500;
//     display: block;
//     margin-bottom: 18px;
//     text-transform: uppercase;
//     color: #363636;
//     text-decoration: none;
//     transition: 0.3s;
// }

// .product-details h4 a:hover {
//     color: #fbb72c;
// }

// .product-details p {
//     font-size: 15px;
//     line-height: 22px;
//     margin-bottom: 18px;
//     color: #999;
// }

// .product-bottom-details {
//     overflow: hidden;
//     border-top: 1px solid #eee;
//     padding-top: 20px;
// }

// .product-bottom-details div {
//     float: left;
//     width: 50%;
// }

// .product-price {
//     font-size: 18px;
//     color: #fbb72c;
//     font-weight: 600;
// }

// .product-price small {
//     font-size: 80%;
//     font-weight: 400;
//     text-decoration: line-through;
//     display: inline-block;
//     margin-right: 5px;
// }

// .product-links {
//     text-align: right;
// }

// .product-links a {
//     display: inline-block;
//     margin-left: 5px;
//     color: #e1e1e1;
//     transition: 0.3s;
//     font-size: 17px;
// }

// .product-links a:hover {
//     color: #fbb72c;
// }

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    height: 380px;
    overflow: hidden;
    width: 400px;
}
.options{
    justify-content: center;
    display: flex;
    margin: 0%;
}
.card > figure {
    width: 90%;
    margin: 20px auto 0 auto;
}

.card > figure > img {
    width: 100%;
}

.details {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 78%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 40%;
}

.details > .min-details
{
    margin-bottom: 20px;
}

.details > .min-details {
    display: flex;
    justify-content: space-between;
}

.details > .min-details > h1 > span {
    color: #7B7B7B;
    display: block;
    font-size: .9rem;
    font-weight: 400;
}

.details > .options h1 {
    margin-bottom: 5px;
}

.details > .options ul {
    list-style-type: none;
    display: flex;
}

.details > .options ul button {
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    line-height: 35px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
}

.options-size > ul > button {
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    font-size: 1.7rem;
    font-weight:600;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
}

.options-size > ul > button:hover {
    background-color: #2876fd;
}


.countBtn{
    text-align: center;
    background-color: #2876fd;
    color: #FFF;


}
.btn {
    background-color: #2876fd;
    border-radius: 5px;
    color: #FFF;
    display: block;
    margin: 1.5em 0em 1em 0em;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                transform .3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
}
.product-card{
    margin: 1.5%;
}
.row{
    justify-content: center;
}
.product-icon{
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}
.countInput{
    border: none;
    border-bottom: 1px solid rgb(35, 35, 217);
    text-align: center;
    width: 5em;
    margin: 0em 2em;
}