<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- Container wrapper -->
	<div class="container">
	  <!-- Navbar brand -->
	  <a class="navbar-brand me-2">
		<img
		  src="../../assets/logof.png"
		  height="100"
		  alt="NetMartLogo"
		  loading="lazy"
		  style="margin-top: -1px;"
		/>
	  </a>
  
	  <!-- Toggle button -->
	  <button
		class="navbar-toggler"
		type="button"
		data-mdb-toggle="collapse"
		data-mdb-target="#navbarButtonsExample"
		aria-controls="navbarButtonsExample"
		aria-expanded="false"
		aria-label="Toggle navigation"
	  >
		<i class="fas fa-bars"></i>
	  </button>
  
	  <!-- Collapsible wrapper -->
	  <div class="collapse navbar-collapse" id="navbarButtonsExample">
		<!-- Left links -->
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="brand-name text-primary">NetMart</a>
		  </li>
		</ul>
		<!-- Left links -->
		<form class="d-flex input-group w-auto">
			<input
			  type="search"
			  class="form-control rounded"
			  placeholder="Search"
			  aria-label="Search"
			  aria-describedby="search-addon"
			/>
			<span class="input-group-text border-0" id="search-addon">
			  <img class="image" src="../../assets/saveimg.png">
			</span>
		  </form>
  
		<div class="d-flex align-items-center">
			<a>
				<img class="nav-img" src="../../assets/profile.png">
			  </a>
			  <p class="text-4 align-center">Welcome, {{username}}</p>
		  <a>
			<img class="nav-img" src="../../assets/shopping-cart.png">
		  </a>

		  <button type="button" class="btn btn-primary me-3">
			Logout
		  </button>

		</div>
	  </div>
	  <!-- Collapsible wrapper -->
	</div>
	<!-- Container wrapper -->
  </nav>
  <!-- Navbar -->